@charset "utf-8";
body {
    font-family: Arial;
}
#wrapper header img {}
h1 {
    color: #E94D40;
    font-family: Arial;
    font-style: normal;
    text-align: center;
}
footer {
    list-style-type: none;
    font-size: x-small;
    text-align: center;
    margin-top: 5px;
}
h2 {
    color: #E94D40;
}
.navlist {
    padding: 0;
    list-style-type: none;
    background-color: #6A3E3F;
}
.navlistitem {
    list-style-type: none;
    text-decoration: none;
    color: #FC0F13;
    padding: 5px;
    margin: 9px;
    float: left;
    overflow-x: visible;
}
.navlist .navlistitem a {
    color: #E94D40;
    text-decoration: none;
    display: block;
}
#current {
    background-color: #E94D40;
    color: #FFFFFF;
}
p {
    color: #0C243C;
}
#banner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
th {
    background-color: #E94D40;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
label {
    float: left;
    width: 120px;
    display: block;
}